/* li{
    width: 600px;
} */
/* .total_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */
/* .add-btn:hover{
    color: brown;
    transform: scale(1.2);
    
} */
/* .add-btn{
    width: fit-content;
    height: fit-content;
} *
